<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome Auth</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const params = new URLSearchParams(window.location.search);
            const code = params.get("code");

            if (!code) {
                document.getElementById("title").innerText = "SSO code is missing.";
                return;
            }

            fetch('/api/auth/login/token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ code: code })
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(resp_data => {
                    document.getElementById("title").innerText = `Welcome ${resp_data.data.user.full_name}`;
                })
                .catch(error => {
                    console.error('Error calling API:', error);
                    document.getElementById("title").innerText = "Login failed. Please try again.";
                });
        });
    </script>
</head>

<body>
    <h1 id="title">Welcome Auth</h1>
</body>

</html>