<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome To Login</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            fetch('/api/auth/login/details', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    const ele = document.createElement("a")
                    ele.href = data.data.sso_redirect_url
                    ele.click()
                })
                .catch(error => {
                    console.error('Error calling API:', error);
                });
        });
    </script>
</head>

<body>
    <h1>Welcome To Login</h1>
</body>

</html>